/* Reset de margens e padding */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #ffffff; /* Cor de fundo geral */
  color: #000000; /* Cor do texto */
}

/* Cabeçalho */
header {
  background-color: #000; /* Fundo escuro */
  color: #fff;
  padding: 1em 2em;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 150px;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu li {
  margin: 0 1em;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-menu a:hover {
  text-decoration: underline;
}

/* Layout Principal */
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  gap: 2em;
  padding: 2em;
}

/* Estilo das seções */
.secao {
  background-color: #f7f7f7; /* Fundo branco para as seções */
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(196, 187, 187, 0.1);
  transition: background-color 0.3s;
}

.secao:hover {
  background-color: #dfdfdf; /* Fundo suave ao passar o mouse */
}

.secao__titulo {
  font-size: 24px;
  margin-bottom: 0.5em;
  color: #ff4081; /* Cor para os títulos das seções */
}

.secao__texto {
  font-size: 16px;
  color: #000000;
}

/* Imagem das seções */
.secao__imagem {
  width: 100%;
  border-radius: 8px;
  margin-top: 1em;
}

/* Estilo dos integrantes */
#integrantes .integrantes-lista {
  list-style-type: none;
  margin-top: 1em;
}

#integrantes .integrantes-lista li {
  font-size: 16px;
  margin-bottom: 0.5em;
  color: #000000;
}

#integrantes .integrantes-lista li strong {
  color: #ff4081; /* Cor para os nomes dos integrantes */
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr; /* Em telas pequenas, uma coluna */
  }
}

/* Estilo do Contato */
#contato {
  background-color: #ff4081; /* Cor de fundo do contato */
  color: #fff;
  padding: 3em 1em; /* Maior padding para esticar */
  margin-top: 3em;
  text-align: center;
}

.formulario__input,
.formulario__textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.formulario__input::placeholder,
.formulario__textarea::placeholder {
  color: #777;
}

.formulario__botao {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 1em 2.5em;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.formulario__botao:hover {
  background-color: #333;
}

/* Rodapé */
footer {
  background-color: #000000; /* Fundo escuro no rodapé */
  color: #fff;
  padding: 1em 2em;
  text-align: center;
}

footer p {
  font-size: 14px;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .integrantes-lista {
    padding-left: 1em;
  }
}
